@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html{
    font-size: 10px;
}
body{ 
    font-family: 'Noto Sans KR', sans-serif;
}

/* common */
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* skipNav */
.skipNav{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 35px;
    border-radius: 0 0 10px 0;
    text-align: center;
    z-index: 1000;
}
.skipNav > a{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 1rem 0;
    width: 100%;
    background-color: #1f3faa;
    font-size: 1.2rem;
    color: white;
    transform: translateY(-50px);
    transition: all .3s ease;
}
.skipNav a:active, .skipNav a:focus, .skipNav a:hover{
    opacity:1;
    transform:translateY(0)
}

/* 메뉴 최상단 */
@keyframes dropDown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color:#242427;
}
header.fixed{
    position: fixed;
    animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
}
header.active::after{
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: -1;
}
.global{
    height: 4rem;
    background-color: #fff;
    border-bottom: 1px solid #E6E6EA;
}
.global .global_top_container{
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
}
.global_top_container > .global_left{
    float: left;
}
.global_left > a{
    display: inline-block;
    padding: 1.2rem 0;
    color: #242427;
    font-size: 1.4rem;
    text-decoration: none;
}
.global_left > a::after{
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: 1px;
    height: 1rem;
    background-color: #d8d8dc;
}
.global_left > .global_left_relate{
    display: inline-block;
    font-size: 1.4rem;
}
.global_top_container > .global_right{
    float: right;
}
.global_right_content > a{
    display: inline-block;
    padding: 1rem 0;
    color: #242427;
    font-size: 1.4rem;
    text-decoration: none;
}
.global_right_content > a:first-child::after{
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: 1px;
    height: 1rem;
    background-color: #d8d8dc;
}
.global_right_content > .search_layer{
    display: inline-block;
    margin-left: 2rem;
}
.search_layer > input{
    height:2rem;
    padding: 1rem;
    border: 0;
    border-left:1px solid #e6e6ea;
    border-right:1px solid #e6e6ea;
    background-color: #f5f5f5;
}
/* 메뉴 하단부 */
.global_bottom{
    height: 10rem;
}
.global_bottom::before{
    content: "";
    position: absolute;
    top: 14rem;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #E6E6EA;
}
.global_bottom > .global_wrap{
    width: 100%;
    background-color: #fff;
}
.global_wrap > .global_container{
    max-width: 1280px;
    margin: 0 auto;
}
.global_container > .gnb{
    overflow: hidden;
    height: 100%;
}
.gnb > .gnb_logo{
    float: left;
    margin: 2.6rem 3rem 2.6rem 0;
    width: 29.5rem;
    height: 4.8rem;
}
.gnb > .gnb_logo .gnb_logo_img{
    display: block;
    position: relative;
    background: url("../img/logo.png") 0 0/auto 4.8rem no-repeat;
    height: 100%;
    z-index: 1;
}
.gnb > .gnb_logo > button{
    display: none;
}
.gnb > .gnb_util{
    display: none;
}
.gnb > .gnb_top {
    overflow: hidden;
    float: right;
    width: calc(100% - 29.5rem - 3rem);
}
.gnb > .gnb_top > li{
    overflow: hidden;
    float: left;
    display: block;
    width: calc(100% / 4);
    height: 100%;
}
.gnb > .gnb_top > li > a{
    display: block;
    padding: 3.7rem 0;
    font-size: 2rem;
    color: #242427;
    text-align: center;
    text-decoration: none;
}
/* depth1 작업 */
.gnb_top > .depth1{
    width: calc(100%/4);
    height: 100%;
}
.gnb_top > .depth1 > a > span{
    position: relative;
}
.gnb_top > .depth1 > a::before{
    content: "";
    display: block;
    position: relative;
    top: 5.8rem;
    width: 0%;
    height: 6px;
    background-color: #1f3faa;
    transition: .5s;
}
.gnb_top > .depth1 > a.on::before{
    content: "";
    display: block;
    position: relative;
    top: 5.8rem;
    width: 100%;
    height: 6px;
    background-color: #476CCD;
}
.gnb_top > .depth1 > a > span::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -1rem;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #ef4881;
    transition: all .2s;
}
.gnb_top > .depth1 > a.on > span::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -1rem;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ef4881;
}
/* depth2 작업 */
.depth2{
    display: block;
    height: 0;    
    border-left: 1px solid #e6e6ea;
    transition: all .2s;
}
.depth2.active{
    height: 51.2rem;
    padding:1rem 0;
}
.depth2.on{
    background-color: #1f3faa;
}
.depth2.on > li > a{
    color: white;
}
.depth2:hover{
    background-color: #1f3faa;
}
.depth2:hover > li > a{
    color: white;
}
.depth2 > li > a{
    display: block;
    padding: 1.3rem;
    color: #222;    
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
}

/* depth3 작업 */
.depth3{
    margin: 0 0 1rem 0.3rem;
}
.depth3 > li > a {
    display: block;
    padding: 0.5rem 0 0.5rem 1rem;
    color: #909094;
    font-size: 1.4rem;
}
.depth2.on .depth3 > li > a{
    color: #bcc6e6;
}

/* gnb 반응형 */
@media screen and (max-width:1023px) {
    .global{
        display: none;
    }
    .global_bottom::before{
        top: 7rem;
    }
    .gnb > .gnb_logo{
        margin: 1rem;
    }
    .gnb > .gnb_logo .gnb_logo_img{
        background-size: auto 4rem;
    }
    .gnb > .gnb_logo button{
        display: inline-block;
        background-color: transparent;
        border: none;
    }
    .gnb > .gnb_logo > .btn_sch_open{
        position: absolute;
        top: 2.2rem;
        right: 1rem;
    }
    .gnb > .gnb_logo > .btn_allmenu{
        position: absolute;
        top: 2.2rem;
        right: 5rem;
    }
    .gnb > .gnb_util{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 7rem;
        padding:1.5rem 1rem;
        background-color: #3c4b77;
        color: white;
        z-index: 10;
    }
    .gnb_util > form > .group_btn > .member_link > a{
        display: inline-block;
        color: white;
        font-size: 1.3rem;
        padding: 1.1rem;
    }
    .group_btn > .member_link > .btn_join{
        position: relative;
    }
    .group_btn > .member_link > .btn_join::before{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 1rem;
        margin-left: -1px;
        background-color: white;
        transform: translate(0, -50%);
    }
    .gnb > .gnb_top{
        display: block;
        position: relative;
        width: 100%;
        height: calc(100vh - 7rem);
        background-color: #f6f6f8;
    }
    .gnb > .gnb_top > li{
        overflow: hidden;
        float: left;
        display: block;
        width: auto;
        height: auto;
    }
    .gnb > .gnb_top > li > a{
        width: 16.25rem;
        padding: 1em 0;
        font-size: 1.8rem;
    }
    .gnb > .gnb_top > li > a.active{
        background-color: #fff;
    }
    .gnb_top > .depth1{
        clear: both;
        width: auto;
        height: auto;
        /* opacity: 0.5; */
    }
    .gnb_top > .depth1 > a.on::before, .gnb_top > .depth1 > a::before,
    .gnb_top > .depth1 > a > span::after, .gnb_top > .depth1 > a.on > span::after{
        all: unset;
    }
    
    .gnb_top > .depth1 > a{
        display: block;
        width: 16.25rem;
        background-color: transparent;
        border-bottom: 1px solid #e5e5e5;
    }
    .gnb_top > .depth1 > .depth2.active{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 16.25rem);
        height: 100%;
        padding: 2.5rem;
        background-color: #fff;
        border-left: 1px solid #d6d8de;
    }
    .depth2 > li > a{
        text-align: left;
        border: 1px solid #d2d4da;
        margin-bottom: 1rem;
    }
    .depth2:hover{
        
    }
    .depth2:hover > li > a{
        color: #222222;
        font-size: 1.6rem;
    }
}

/* main */
.main{
    margin-top: 14rem;
    width: 100%;
    height: 3500px;
}