body {
    height: 500vw;
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: #555;
    background: #fff000;
}

/* progress-bar */
.progress-bar-con{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5px;
    background-color: #555;
    z-index: 100;
}
.progress-bar{
    width: 0;
    height: 100%;
    background-color: #00a8ff;
}


/* world */
.world{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px; /* 원근 적용 */
}
.stage{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-style:preserve-3d; /* 자식까지 제대로 3D style을 보존하기 위해 쓰는 속성 (IE 지원 안함, 웹킷 써야함) */   
}
.house{
    width: 100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}
.wall{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
}
.wall.wall-left{
    width: 1000vw;
    background: #f8f8f8;
    transform: rotateY(90deg) translateZ(-500vw);
}
.wall.wall-right{
    left: -500vw;
    width: 1000vw;
    background: #f8f8f8;
    transform: rotateY(90deg) translateZ(100vw);
}
.wall-front-a{transform: translateZ(300vw);}
.wall-front-b{transform: translateZ(50vw);}
.wall-front-c{transform: translateZ(-200vw);}
.wall-front-d{transform: translateZ(-500vw);}
.wall-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wall-title{
    font-size: 5rem;
}