
button{
    float: right;
    width: 300px;
    padding: 10px 25px;
    margin-bottom: 10px !important;
    color: #000;
    background-color: #00ffff;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: #fff;
    transition: all 0.35s;
    cursor: pointer;
}

.btn{
    float: none;
    width: 150px;
    margin-bottom: 0;
    background-color: #000;
    color: white;
    
}