
button{
    width: 120px;
    padding: 10px 25px;
    color: #000;
    background-color: #00ffff;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: #fff;
    transition: all 0.35s;
    cursor: pointer;
}